bin/Release
bin/Debug
bin/Fable
bin/Fable.Splitter
*.fs.js
*.fs.js.map
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
*.trx
symbolCache.db
*.suo
/docs/output
/node_modules
/.fable
/src/Demo/Fable/fable/
**/node_modules/
/bin/pack
**/.DS_Store
/tmp/
/.fsdocs
/output
/.idea