bin/Release
bin/Debug
bin/Fable
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
*.trx
symbolCache.db
*.suo
/docs/output
/node_modules
/.fable