version 5.215.0
framework: netstandard2.0, netcoreapp2.2
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                           ~> 4.6.2

nuget FsUnit                                ~> 3.4.1
nuget FsUnit.xUnit                          ~> 3.4.1
nuget FsCheck                               ~> 2.14.0
nuget FsCheck.Xunit                         ~> 2.14.0
nuget Microsoft.NET.Test.Sdk                ~> 16.2.0
nuget xunit                                 ~> 2.4.1
nuget xunit.runner.visualstudio             ~> 2.4.1
nuget BenchmarkDotNet                       ~> 0.11.5

group Build
source https://api.nuget.org/v3/index.json
nuget fake-cli ~> 5.16.1
nuget Fake.DotNet.Cli ~> 5.16.1
nuget Fake.Core.Target ~> 5.16.1
nuget Fake.DotNet.Paket ~> 5.16.1
nuget Fake.Core.ReleaseNotes ~> 5.16.1
nuget Fake.Tools.Git ~> 5.16.1
