version 5.215.0
source https://api.nuget.org/v3/index.json
redirects: off
storage: none
framework: netstandard2.0, netcoreapp2.2

nuget FSharp.Core                           >= 4.6.2

# Tests : intentionally in main group
nuget Appveyor.TestLogger                   ~> 2.0.0
nuget FsUnit                                ~> 3.4.1
nuget FsCheck                               ~> 2.14.0
nuget FsCheck.NUnit                         ~> 2.14.0
nuget Microsoft.NET.Test.Sdk                ~> 16.2.0
nuget NUnit                                 ~> 3.12.0
nuget NUnit3TestAdapter                     ~> 3.15.1
nuget BenchmarkDotNet                       ~> 0.11.5

# Fable demo
nuget Fable.Core                            ~> 3.1.1
nuget Fable.Browser.Dom                     ~> 1.1.0

group Build
  source https://api.nuget.org/v3/index.json
  nuget fake-cli ~> 5.16.1
  nuget Fake.DotNet.Cli ~> 5.16.1
  nuget Fake.Core.Target ~> 5.16.1
  nuget Fake.DotNet.Paket ~> 5.16.1
  nuget Fake.Core.ReleaseNotes ~> 5.16.1
  nuget Fake.Tools.Git ~> 5.16.1

group Docs
  framework: net461
  redirects: off
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.0
  nuget FSharp.Formatting ~> 3.1
  nuget FSharp.Compiler.Tools ~> 10.2.3
