type project
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl https://github.com/fsprojects/FSharp.Data.Adaptive
licenseUrl https://raw.githubusercontent.com/fsprojects/FSharp.Data.Adaptive/master/LICENSE
description
    FSharp.Data.Adaptive provides an incremental evaluation system inspired by Adapton, DeltaML and many others
	for FSharp. The implementation provides incremental datastructures for refs/sets/lists/maps.
include-pdbs true