type project
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/krauthaufen/FsIncremental
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
description
    Aardvark is an open-source platform for visual computing, real-time graphics and visualization.
include-pdbs true