name: DotNet
on: [push, pull_request]
jobs:
  dotnet:
    name: DotNet
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: | 
            6.0.100
            8.0.400
      - name: Restore Tools
        run: dotnet tool restore
      - name: Paket Restore
        run: dotnet paket restore
      - name: Build
        run: dotnet build
      - name: Test
        run: dotnet test -l "console;verbosity=normal" --no-build --nologo