name: CI - Fable

on:
  push:
    branches: 
      - master
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: sh ./build.sh -t CompileFable
